body, html {
    margin: 0;
    padding: 0;
    background-color:  white;
    
  }

.header {
    background-color: #1b2631;
    height: auto;    
    padding: 5px;    
    color: #eaecee;
    font-family: "JetBrains Mono", serif;
    display: flex;    
    align-items: center;    
}

.item {  
  text-align: center; 
  font-size: 1.3vw;
  min-width: 85px;
}

.item-img {    
  text-align: center;
  font-size: 2vw;
  min-width: 60px;
}

.name{    
  text-align: center;    
  font-size: 2vw; 
  font-family: "JetBrains Mono", serif;
  margin-left: 80px;
  margin-right: 50px;
}

@media (max-width: 600px) {
  .header {
    flex-direction: column; 
    height: auto;
  }
  .item, .item-img, .name {
    font-size: 4vw;  
    margin: 3vw;
  }

  .item-img {
    padding-left: 0;
  }
}

.body-intro {
  background-image: url(fond.jpg);
  background-color: yellow;
  height: auto;   
  padding: 15px;    
  color: #eaecee;
  font-family: "JetBrains Mono", serif;
}

.body-intro-text {
  text-align: right;
  padding-right: 100px;
}

.body-about {
  background-color: green;
  display: flex;
  flex-wrap: wrap;
  height: auto;    
  padding: 15px;    
  color: #eaecee;
  font-family: "JetBrains Mono", serif;
}

.about-izquierda, .about-derecha {
  background-color: #3498db;
  color: white;
  padding: 10px;
  width: 45%; 
}

.about-izquierda img, .about-derecha img {
  width: 100%;
  height: auto;    
}

.body-skills {  
  background-color: yellow;
  height: 200px;    
  padding: 5px;    
  color: #eaecee;
  font-family: "JetBrains Mono", serif;
  display: flex;   
  justify-content: center;
  align-items: center;
}

.skills-items {    
  margin: 10px;
  font-size: 2vw;
  min-width: 60px;
}

@media (max-width: 600px) {
  .body-skills {    
    height: auto;
  }
  .skills-items {
    font-size: 5vw;  
    margin: 10px;
  }
}

.body-work {
  background-color: red;
  display: block;
  height: auto;    
  padding: 15px;
}

.work-izquierda{
  background-color: #3498db;
  color: white;
  padding: 10px;
  width: 90%; 
  height: 300px;
}

.work-derecha{
  background-color: #3498db;
  color: white;
  padding: 10px;
  width: 90%; 
  height: 300px;
}

.work-derecha img {
  width: 35%;
  height: auto; 
  float: right;
  padding: 40px;
}

.work-izquierda img {
  width: 35%;
  height: auto; 
  float: left;
  padding: 40px;
}