* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  box-shadow: border-box;
}

body,
html {
  height: 100%;
  width: 100%;
  background: #000;
}

.header {
  background-color: #1b2631;
  height: auto;
  padding: 5px;
  color: #eaecee;
  font-family: "JetBrains Mono", serif;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.item {
  text-align: center;
  font-size: 1.3vw;
  min-width: 85px;
  flex: 1 1 100px;
}

.item-img {
  text-align: center;
  font-size: 2vw;
  min-width: 60px;
}

.name {
  text-align: center;
  font-size: 2vw;
  font-family: "JetBrains Mono", serif;
  margin-left: 80px;
  margin-right: 50px;
}

@media (max-width: 700px) {
  .header {
    flex-direction: column;
    height: auto;
  }

  .name {
    font-size: 4vw;
    margin: 2vw;
    flex: 1 1 20px;
  }

  .item,
  .item-img {
    display: none;
  }
  /*   .item, .item-img, .name {
    font-size: 4vw;  
    margin: 2vw;
    flex: 1 1 20px;
  }

  .item-img {
    padding-left: 0;
  } */
}

section {
  height: 85%;
  width: 100%;
  position: relative;
  overflow: hidden;
}

span {
  overflow: hidden;
  border-radius: 50%;
  pointer-events: none;
  position: absolute;
  background: white;
  animation: animate 5s linear infinite;
}

@keyframes animate {
  0% {
    transform: scale(0) translateX(0) rotate(0deg);
    opacity: 0;
  }
  10% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    transform: scale(1) translateX(44000%) rotate(360deg);
    opacity: 0;
  }
}

.body-intro {
  width: 100%;
  height: 100vh;
  filter: grayscale(100%);
}

.body-intro-text {
  text-align: right;
  padding-right: 100px;
  padding-top: 100px;
  color: white;
  font-family: "JetBrains Mono", serif;
  font-size: xx-large;
}

@media (max-width: 700px) {
  .body-intro-text {
    text-align: right;
    color: white;
    font-family: "JetBrains Mono", serif;
    font-size: xx-large;
  }
}

.body-about {
  background-color: green;
  display: flex;
  flex-wrap: wrap;
  height: auto;
  padding: 0;
  color: #eaecee;
  font-family: "JetBrains Mono", serif;
  justify-content: center;
}

.about-izquierda,
.about-derecha {
  background-color: #3498db;
  color: white;
  padding: 10px;
  width: 45%;
}

.about-izquierda img,
.about-derecha img {
  width: 100%;
  height: auto;
}

.body-skills {
  background-color: yellow;
  height: 200px;
  padding: 5px;
  color: #eaecee;
  font-family: "JetBrains Mono", serif;
  display: flex;
  justify-content: center;
  align-items: center;
}

.skills-items {
  margin: 10px;
  font-size: 2vw;
  min-width: 60px;
}

@media (max-width: 600px) {
  .body-skills {
    height: auto;
  }
  .skills-items {
    font-size: 5vw;
    margin: 10px;
  }
}

.body-work {
  background-color: red;
  display: block;
  height: auto;
  padding: 0px;
  justify-content: center;
}

.work-izquierda {
  background-color: #3498db;
  color: white;
  padding: 10px;
  height: 300px;
}

.work-derecha {
  background-color: #3498db;
  color: white;
  padding: 10px;
  height: 300px;
}

.work-derecha img {
  width: 50%;
  height: auto;
  float: right;
  padding-right: 20%;
}

.work-izquierda img {
  width: 50%;
  height: auto;
  float: left;
  padding-left: 20%;
}

.footer {
  background-color: #1b2631;
  height: auto;
  font-family: "JetBrains Mono", serif;
  padding: 18px;
  display: block;
}

.footer-text {
  font-size: 1.2vw;
  color: #eaecee;
  margin: 55px;
  text-align: center;
}

.footer-img {
  text-align: center;
  font-size: 2.3vw;
}

@media (max-width: 700px) {
  .footer {
    display: flex;
    justify-content: center;
    height: auto;
    flex-wrap: wrap;
  }
  .footer-img {
    font-size: 4vw;
    margin: 10px;
  }
  .footer-text {
    font-size: 3vw;
    margin: 10px;
  }
}
