body, html {
    margin: 0;
    padding: 0;
    background-color:  white;
    
  }

.header {
    background-color: #1b2631;
    height: 50px;    
    padding: 20px;    
    color: #eaecee;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display: flex;    
    align-items: center;    
}

.item {  
  text-align: center; 
  font-size: 1.3vw;
  min-width: 85px;
}

.item-img {    
  text-align: center;
  font-size: 2vw;
  min-width: 60px;
}

.name{    
  text-align: center;    
  font-size: 2vw; 
  font-family:Georgia, 'Times New Roman', Times, serif;
  margin-left: 80px;
  margin-right: 50px;
}

@media (max-width: 600px) {
  .header {
    flex-direction: column; 
    height: auto;
  }
  .item, .item-img, .name {
    font-size: 4vw;  
    margin: 3vw;
  }

  .item-img {
    padding-left: 0;
  }
}

.body-intro {
  background-color: yellow;
  height: 420px;    
  padding: 15px;    
  color: #eaecee;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.body-intro-text {
  text-align: right;
  padding-right: 100px;
}

.body-about {
  background-color: green;
  display: flex;
  flex-wrap: wrap;
  height: 420px;    
  padding: 15px;    
  color: #eaecee;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.about-izquierda, .about-derecha {
  background-color: #3498db;
  color: white;
  padding: 10px;
  width: 48%; 
}
